<div class="container">
    <app-carousel></app-carousel>

    <div class="services">
        <div class="service">
            <mat-card class="example-card">
                <img mat-card-image>
                <mat-card-content>
                    <h2>Gallery</h2>
                    <p>Bring your photos and lectures here</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>

        </div>
        <div class="service">
            <mat-card class="example-card">
                <img mat-card-image>
                <mat-card-content>
                    <h2>Gallery</h2>
                    <p>Bring your photos and lectures here</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>

        </div>
        <div class="service">
            <mat-card class="example-card">
                <img mat-card-image>
                <mat-card-content>
                    <h2>Gallery</h2>
                    <p>Bring your photos and lectures here</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>

        </div>
    </div>
</div>