<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [ngClass]="{'hidden': !(isHandset$ | async )}"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">

    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list >

      <a mat-list-item [routerLink]="['']" routerLinkActive="router-link-active" class="mat-display-4">
        <h1>
          <mat-icon>face</mat-icon>Personal Assistant
        </h1>
      </a>

      <a *ngIf="(checkUser() | async)" mat-list-item [routerLink]="['gallary']"
        routerLinkActive="router-link-active">Gallary</a>

      <a *ngIf="(checkUser() | async)" mat-list-item [routerLink]="['todos']"
        routerLinkActive="router-link-active">Todos</a>

      <a mat-list-item [routerLink]="['covid']" routerLinkActive="router-link-active">COVID_19</a>

      <a *ngIf="(checkUser() | async)" mat-list-item [routerLink]="['virtual-assistant']"
        routerLinkActive="router-link-active">Virtual
        Assistant</a>
      <a *ngIf="(checkUser() | async)" mat-list-item [routerLink]="['smart-home']"
        routerLinkActive="router-link-active">Smart
        Home</a>

    </mat-nav-list>
    <span class="example-spacer"></span>

    <mat-nav-list class="list-horizontal">
      <div *ngIf="!(checkUser() | async)">
        <a mat-list-item [routerLink]="['signup']" routerLinkActive="router-link-active">Sign Up</a>
        <a mat-list-item [routerLink]="['signin']" routerLinkActive="router-link-active">Log In</a>
      </div>

      <a *ngIf="(checkUser() | async)" mat-list-item (click)="logOut()">
        <mat-icon>account_circle</mat-icon> Log Out
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="accent" class="fixed sticky" >
      <mat-nav-list class="list-horizontal" id="nav-bar">

        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <a mat-list-item [routerLink]="['']" routerLinkActive="router-link-active">
        
        <mat-icon>home</mat-icon>  Home
        </a>

        <a *ngIf="(checkUser() | async)" mat-list-item [routerLink]="['gallary']"
          routerLinkActive="router-link-active">Gallary</a>

        <a *ngIf="(checkUser() | async)" mat-list-item [routerLink]="['todos']"
          routerLinkActive="router-link-active">Todos</a>

        <a mat-list-item [routerLink]="['covid']" routerLinkActive="router-link-active">COVID_19</a>

        <a *ngIf="(checkUser() | async)" mat-list-item [routerLink]="['virtual-assistant']"
          routerLinkActive="router-link-active">Virtual
          Assistant</a>

        <a *ngIf="(checkUser() | async)" mat-list-item [routerLink]="['smart-home']"
          routerLinkActive="router-link-active">Smart
          Home</a>

      </mat-nav-list>

      <span class="example-spacer"></span>

      <mat-nav-list class="list-horizontal">
        <div *ngIf="!(checkUser() | async)">
          <a mat-list-item [routerLink]="['signup']" routerLinkActive="router-link-active">Sign Up</a>
          <a mat-list-item [routerLink]="['signin']" routerLinkActive="router-link-active">Log In</a>
        </div>

        <a *ngIf="(checkUser() | async)" mat-list-item (click)="logOut()">
          {{userProfile?.email}} <mat-icon>account_circle</mat-icon> Log Out
        </a>
      </mat-nav-list>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>