<div class="form-container">

    <form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
        <mat-card>

            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <mat-icon>face</mat-icon>
                </div>
                <mat-card-title> Sign Up</mat-card-title>
                <mat-card-subtitle>All inputs with * are required</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>

                <!-- Name input -->
                <p>
                    <mat-form-field appearance='outline'>
                        <mat-label>Full Name</mat-label>
                        <input matInput formControlName="fullname" placeholder="Ex. Misko Hevery"
                            required />
                        <mat-hint align="end"> Minimum 3 characters </mat-hint>
                        <mat-error *ngIf="signupForm.controls['fullname'].hasError('required')">
                            Full Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </p>
                <!-- Email input -->
                <p>
                    <mat-form-field appearance='outline'>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="Ex. Misko@misko.com"
                            required />
                        <mat-hint align="end"> Minimum 3 characters </mat-hint>
                        <mat-error *ngIf="signupForm.controls['email'].hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </p>
                <!-- Password input -->
                <p>
                    <mat-form-field appearance='outline'>
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password" required />
                        <mat-hint align="end"> Minimum 3 characters </mat-hint>
                        <mat-error *ngIf="signupForm.controls['password'].hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color='accent' [disabled]="!signupForm.valid">
                    <mat-icon>person_add</mat-icon> Sign Up
                </button>
                <mat-divider></mat-divider>
                <mat-card-subtitle>
                    Do you have an acount?
                    <a [routerLink]="['/signin']">
                        Log In
                    </a>
                </mat-card-subtitle>
            </mat-card-actions>

        </mat-card>

    </form>
</div>